*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    display: flex;
    justify-content: space-evenly;
}

div h1{
    margin-top: 5rem;
}

main{
    display: flex;
    justify-content: center;
}

.container{
    width: 40rem;
    height: 90px;
    background-color: #19D400;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    
}

footer {
    display: flex;
    justify-content: end;
    margin-top: 25rem;
}

.tamanhoImg{
    width: 100vw;
    height: 23vh;
}
