body {
  font-family: Arial, sans-serif;
  background: #fff;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header  img{
  margin-left: 16cm;
  margin-top: 7rem;
  width: 10rem;
  height: auto;
}

.container {
  display: flex;
  gap: 50px;
  position: absolute;
  top: 25%;
  left: 40%;
}

.roleta-area {
  text-align: center;
}

.roleta {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 8px solid #ccc;
  position: relative;
  overflow: hidden;
  transition: transform 5s ease-out;
}

.botao {
  margin-top: 20px;
}

button {
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  background-color: #eee;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  transition: 0.3s;
}

button:hover {
  background-color: #ddd;
}

.lista {
  background: #fafafa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.lista div {
  background: white;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.status {
  color: #f5a100;
  font-weight: bold;
}
