*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.separa{
    margin-inline: 12rem;
}




main figure{
    justify-content: center;
    display: flex;
}

nav{
    display: flex;
    justify-content: center;
}

figure img{
    width: 70rem;
    border-radius: 10px;
}

section{
    justify-content: center;
    display: flex;
    margin-top: 2rem;
}

a{
    padding-inline: 14rem;
}

button{
    cursor: pointer;
    padding-inline: 8rem;
    padding-block: 1rem;
    border: none;
    background-color: #c9c9c9;
    border-radius: 10px;
}