*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

#title{
    display: flex;
    align-items: center;
}

.logo{
    margin-top: -1.2rem;
    width: 200px;
}

body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table th, table td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }

        table th {
            background-color: #007BFF;
            color: white;
        }

        table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .status {
            color: green;
            font-weight: bold;
        }

        .btn-voltar{
            display: flex;
            justify-content: center;
            margin-top: 5rem;
        }

        button{
            padding: 30px;
            border: none;
            border-radius: 5px;
        }